body{
    margin: 0;
    background-color: rgb(105, 105, 105);
}

a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgray;
    padding: 25px;
}

.navHome{
    align-items: center;
}

.navMenu{
    display: flex;
    list-style: none;
    color: beige

}
.navMenu li{
    padding: 8px 12px;
    color: beige;
}

.navSns i{
    color: beige;
    padding: 3px;
}

@media screen and (max-width: 768px){
    .navbar {
        flex-direction: column;
    }
    .navMenu{
        flex-direction: column;
    }
}

img.responsive-img{
    max-width: 100%;
}