body{
    background-color: lightgrey;
}
.blog-footer{
    position: fixed;
Width: 100%;
bottom: 0;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.navSns{
    padding-top: 20px;
}
.blog-footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
}
.dropdown-item i{
    padding-right: 10px;
}
.contact-me{
    margin: 100px auto;
    width: 80%;
}    
.formGroup{
    width: 300px;
    padding-left: 80px;
    padding-top: 10px;
}
.form-control {
    display: block;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
